/*This section styles the entire webpage include title*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This section defines the background colour of the body*/
body {
    background-color: #d9dcd6;
}



/*---------------Header part----------------*/

/*This section styles the entire header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*The next two sections styles the company logo on the left side of the header*/
/*h1 is styles "Hori" and "n", and .seo styles "seo"*/
h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

/*The next three sections style the three links on the right side of the header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*-----------------Hero (main image of the website) part----------------*/

/*This section styles the main picture under the header section*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


/*-------------CONTENT AND BENEFIT PART--------------*/


/*The next three sections specify the floating of the pictures*/
/*in the content and benefit part, as well as the font size of all the paragraphs*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

p {
    font-size: 16px;
}

/*--------------Content part-----------------------*/

/*In each part of the content, h2 style the title of that content*/
/*and "img" style the image in that part*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*content part 1 (search engine optimization)*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.search-engine-optimization img {
    max-height: 200px;
}

/*Content part 2 (online reputation mangment)*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management img {
    max-height: 200px;
}

/*Content part 3 (social media marketing)*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing img {
    max-height: 200px;
}

/*---------Benefit part-----------*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Benefit part 1 (Lead generation)*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Benefit part 2 (Brand awareness)*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Benefit part 3 (Cost management)*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*-------------Footer Part----------*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*This part style the first row of text of the footer*/
/*Sorry I have to put a h2 tag in here because it has to follow the website structure from up to down*/
.footer h2 {
    font-size: 20px;
}
